body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: center;
    text-align: center;
}
#start {
    width: 500px;
    height: 250px;
    float: center;
    font-size: 50px
}

